body{
    width: 100%;
    height: 100%;
    background-color: white;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 8%;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: 250px;
    height: auto;
    margin-left: 41%;
}


.resultado{
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    width: fit-content;
    padding: 30px;
}

.btn-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    width: 200px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 20%;
    border: 2px solid white;
    border-radius: 6px;
    padding: 5px;
}

.btn-formulario:hover{
    background-color: rgba(47, 47, 47, 0.956);
    transform: translateY(10);
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-resultados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.resultados{
    text-align: center;
    color: white;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    width: 70vw;
    height: fit-content;
    padding: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.resultados p{
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.resultados h2{
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
}

.final{
    border-radius: 8px;
    padding: 10px;
    color: black;
}

.final h2{
    color: rgb(166, 142, 5);
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    padding: 10px;
}

.final p{
    width: 100px;
    padding: 10px;
    border: 2px solid ;
    border-radius: 8px;
    background-color: white;
    color: rgb(166, 142, 5);
}

.semi{
    padding: 10px;
    color: black;
}

.semi p{
    width: 100px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

.quartas{
    padding: 10px;
    color: black;
}

.quartas p{
    width: 100px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

.oitavas{
    padding: 10px;
    color: black;
}
.oitavas p{
    width: 100px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

.campeao{
    color: rgb(166, 142, 5);
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bandeiras{
    width: 35px;
    height: auto;
}

.classificatoria{
    margin-top: 10%;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid black;
    padding: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.grupos{
    width: 300px;
    height: auto;
    border: 2px solid black;
    padding: 10px;

}